In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("spamdt.csv")

In [3]:
data.head(5)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
data.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [5]:
data['label']=data['label'].map({'ham':0, 'spam':1})

In [6]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,0,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,0,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,0,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,1,"Subject: photoshop , windows , office . cheap ...",1
4,2030,0,Subject: re : indian springs\r\nthis deal is t...,0

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv=CountVectorizer()

In [9]:
x=data['text']
y=data['label']

In [10]:
x.shape

(5171,)

In [11]:
y.shape

(5171,)

In [12]:
x=cv.fit_transform(x)

In [13]:
x

<5171x50447 sparse matrix of type '<class 'numpy.int64'>'
	with 456145 stored elements in Compressed Sparse Row format>

1.The Cat
2.The Dog
3.The Bird

    The Cat Dog Bird
1.   1   1   0    0
2.   1   0   1    0
3.   1   0   0    1

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [16]:
x_train.shape

(4136, 50447)

In [17]:
from sklearn.naive_bayes import MultinomialNB

In [18]:
model=MultinomialNB()

In [19]:
model.fit(x_train, y_train)

MultinomialNB()

In [20]:
result=model.score(x_test, y_test)

In [21]:
result=result*100

In [22]:
result

98.55072463768117

In [23]:
import pickle

In [24]:
pickle.dump(model, open("spam.pkl", "wb"))

In [25]:
pickle.dump(cv, open("vectorizer.pkl", "wb"))

In [26]:
clf=pickle.load(open("spam.pkl", "rb"))

In [27]:
clf

MultinomialNB()

In [29]:
msg="I am Rafael."
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]